body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    height: 100vh;
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
}
h2{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.inpt-lable{
    text-align: left;
    margin-left: 100px;
    color: #fff;
}